<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Prod</key>
	<dict>
		<key>Solution</key>
		<dict>
			<key>URL</key>
			<string>/solution</string>
			<key>ExpiryTime</key>
			<integer>60</integer>
		</dict>
		<key>StoresByProduct</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>/product/%d/stores</string>
		</dict>
		<key>StateDetails</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>/state/%d</string>
		</dict>
		<key>StoresInDistrict</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>/store?district=%@&amp;paginate=disabled</string>
		</dict>
		<key>Glossary</key>
		<dict>
			<key>URL</key>
			<string>/glossary</string>
			<key>ExpiryTime</key>
			<integer>60</integer>
		</dict>
		<key>Promotion</key>
		<dict>
			<key>URL</key>
			<string>/promotion</string>
			<key>ExpiryTime</key>
			<integer>60</integer>
		</dict>
		<key>Sliders</key>
		<dict>
			<key>URL</key>
			<string>/module/slider</string>
			<key>ExpiryTime</key>
			<integer>60</integer>
		</dict>
		<key>Suggestions</key>
		<dict>
			<key>URL</key>
			<string>/suggestions</string>
			<key>ExpiryTime</key>
			<integer>60</integer>
		</dict>
		<key>StatesByCountry</key>
		<dict>
			<key>URL</key>
			<string>/country/{id}/states</string>
			<key>ExpiryTime</key>
			<integer>60</integer>
		</dict>
		<key>Base</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>http://appsika.mx/api/v1</string>
		</dict>
		<key>Countries</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>/country</string>
		</dict>
		<key>State</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>/state</string>
		</dict>
		<key>ZipCode</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>/zipcode</string>
		</dict>
		<key>Taxonomy</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>/taxonomy</string>
		</dict>
		<key>Products</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>/product</string>
		</dict>
		<key>Company</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>/company</string>
		</dict>
		<key>Store</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>/store</string>
		</dict>
	</dict>
	<key>Dev</key>
	<dict>
		<key>Glossary</key>
		<dict>
			<key>URL</key>
			<string>/glossary</string>
			<key>ExpiryTime</key>
			<integer>60</integer>
		</dict>
		<key>Promotion</key>
		<dict>
			<key>URL</key>
			<string>/promotion</string>
			<key>ExpiryTime</key>
			<integer>60</integer>
		</dict>
		<key>Sliders</key>
		<dict>
			<key>URL</key>
			<string>/module/slider</string>
			<key>ExpiryTime</key>
			<integer>60</integer>
		</dict>
		<key>Suggestions</key>
		<dict>
			<key>URL</key>
			<string>/suggestions</string>
			<key>ExpiryTime</key>
			<integer>60</integer>
		</dict>
		<key>StatesByCountry</key>
		<dict>
			<key>URL</key>
			<string>/country/{id}/states</string>
			<key>ExpiryTime</key>
			<integer>60</integer>
		</dict>
		<key>Base</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>http://165.227.15.196/api/v1</string>
		</dict>
		<key>Countries</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>/country</string>
		</dict>
		<key>State</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>/state</string>
		</dict>
		<key>ZipCode</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>/zipcode</string>
		</dict>
		<key>Taxonomy</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>/taxonomy</string>
		</dict>
		<key>Products</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>/product</string>
		</dict>
		<key>Company</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>/company</string>
		</dict>
		<key>Store</key>
		<dict>
			<key>ExpiryTime</key>
			<integer>60</integer>
			<key>URL</key>
			<string>/store</string>
		</dict>
	</dict>
</dict>
</plist>
