<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>812593896315-bc97o4mr38dem6g5q51mpcse94oeona2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812593896315-bc97o4mr38dem6g5q51mpcse94oeona2</string>
	<key>API_KEY</key>
	<string>AIzaSyAVeWjFYn4S9l60eN1OtbzjKlyQcdmAQt4</string>
	<key>GCM_SENDER_ID</key>
	<string>812593896315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muuyal.sika</string>
	<key>PROJECT_ID</key>
	<string>sika-app-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>sika-app-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812593896315:ios:ea291a7025486b96</string>
	<key>DATABASE_URL</key>
	<string>https://sika-app-ios.firebaseio.com</string>
</dict>
</plist>